@media only screen and (max-width: 1023px){
    
    .upbar{
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.82);
}

#uplogo{
    position: absolute;
    height: 40px;
    margin-top: 30px;
    left: 3%;
}

.menu{
    margin-left: 3%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    display: block;
    margin-top: 0px;
}
    
    li {
       color: ivory;
       margin-left: 3%;
       vertical-align: middle;
       display: inline-block;
       font-family: "SF UI Text";
       font-size: 25px;
       opacity: 0.95;
       line-height: 100px;
       text-align: center;
    }
    
    li a{
    animation-name: out;
    animation-duration: 250ms;
    color: white;
    display: block;
    text-decoration: none;
    }
    
    .content{
    position: relative;
    overflow: hidden;
    background-color: black;
    top: 99px;
    width: 100%;
    height: 2200px;
    }
    
    #zlpixel{
    position: absolute;
    width: 45%;
    top: 50px;
    left: 50%;
    opacity: 0;
}
#zlogo{
    position: absolute;
    width: 45%;
    top: 150px;
    left: 2%;
    opacity: 0;
}
#ztitle{
    position: absolute;
    width: 35%;
    top: 550px;
    left: 7%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 45px;
    text-align: center;
    opacity: 0;
}

#zdesc{
    position: absolute;
    width: 35%;
    top: 650px;
    left: 7%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 30px;
    text-align: center;
    opacity: 0;
}
#zlget{
    position: absolute;
    width: 35%;
    top: 800px;
    left: 7%;
    color: cornflowerblue;
    font-family: "SF UI Text";
    font-size: 35px;
    text-align: center;
    opacity: 0;
}
#arpixel{
    position: absolute;
    width: 45%;
    top: 1100px;
    left: 50%;
    margin-left: -15%;
    opacity: 0;
}
#arlogo{
    position: absolute;
    width: 37%;
    top: 1200px;
    left: 22%;
    margin-left: -8%;
    opacity: 0;
}
#artitle{
    position: absolute;
    width: 35%;
    top: 1500px;
    left: 25%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 45px;
    text-align: center;
    margin-left: -10%;
    opacity: 0;
}
#ardesc{
    position: absolute;
    width: 35%;
    top: 1600px;
    left: 25%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 30px;
    text-align: center;
    margin-left: -10%;
    opacity: 0;
}
#arget{
    position: absolute;
    width: 35%;
    top: 1750px;
    left: 30%;
    color: cornflowerblue;
    font-family: "SF UI Text";
    font-size: 35px;
    text-align: center;
    margin-left: -15%;
    opacity: 0;
}
    
footer{
    width: 100%;
    height: 170;
    margin-top: 99px;
    background-color: black;
    border-top: 1px solid gray;
}
#about{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 12px;
    width: 460;
    left: 5%;
    margin-top: 35;
    text-align: left;
}

#contact{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 20px;
    left: 72%;
    margin-top: 65;
    text-align: left;
}
#privacyp{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 20px;
    left: 55%;
    margin-top: 65;
    text-align: left;
}

#aptoide{
    position: absolute;
    height: 100px;
    left: 85%;
    margin-top: 27;
}   
}