body{
    margin: 0px;
}

.upbar{
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.82);
}

#uplogo{
    position: absolute;
    height: 19px;
    margin-top: 13px;
    left: 13%;
}

.menu{
    margin-left: 150px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    display:inline;
}

@keyframes in{
    from {color: white}
    to {color: darkgrey}
}


@keyframes out{
    from {color: darkgrey}
    to {color: white}
}

@keyframes inlogo{
    from {background-image: url(res/4logo.png)}
    to {background-image: url(res/4logo2.svg)}
}


@keyframes outlogo{
    from {background-image: url(res/4logo2.svg)}
    to {background-image: url(res/4logo.png)}
}

li {
    color: ivory;
    margin-left: 8%;
    vertical-align: middle;
    display: inline-block;
    font-family: "SF UI Text";
    font-size: 13px;
    opacity: 0.95;
    line-height: 45px;
    text-align: center;
}
li a{
    animation-name: out;
    animation-duration: 250ms;
    color: white;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

li a:hover {
    animation-name: in;
    animation-duration: 250ms;
    color: darkgrey;
}

.uridict{
    position: relative;
    background-color: black;
    height: 1000px;
    top: 45px;
}

#privacy{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 35px;
    color: white;
    width: 100%;
    text-align: center;
    top: 50px;
}

#stroke{
    position: absolute;
    background-color: white;
    height: 1px;
    width: 90%;
    top: 130px;
    left: 5%;
}

#policy{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 18px;
    color: white;
    width: 90%;
    left: 5%;
    text-align: left;
    top: 150px;
}

.content{
    position: relative;
    background-color: black;
    top: 45px;
    width: 100%;
    height: 1500px;
}

#zlpixel{
    position: absolute;
    width: 20%;
    top: 40px;
    left: 60%;
    opacity: 0;
}
#zlogo{
    position: absolute;
    width: 25%;
    top: 60px;
    left: 21%;
    opacity: 0;
}
#ztitle{
    position: absolute;
    width: 25%;
    top: 350px;
    left: 21%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 35px;
    text-align: center;
    opacity: 0;
}

#zdesc{
    position: absolute;
    width: 25%;
    top: 420px;
    left: 21%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 20px;
    text-align: center;
    opacity: 0;
}
#zlget{
    position: absolute;
    width: 15%;
    top: 510px;
    left: 26%;
    color: cornflowerblue;
    font-family: "SF UI Text";
    font-size: 25px;
    text-align: center;
    opacity: 0;
}
#arpixel{
    position: absolute;
    width: 20%;
    top: 720px;
    left: 55%;
    opacity: 0;
}
#arlogo{
    position: absolute;
    width: 32%;
    top: 680px;
    left: 22%;
    opacity: 0;
}
#artitle{
    position: absolute;
    width: 25%;
    top: 1040px;
    left: 25%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 35px;
    text-align: center;
    opacity: 0;
}
#ardesc{
    position: absolute;
    width: 25%;
    top: 1110px;
    left: 25%;
    color: #ffffff;
    font-family: "SF UI Text";
    font-size: 20px;
    text-align: center;
    opacity: 0;
}
#arget{
    position: absolute;
    width: 15%;
    top: 1200px;
    left: 30%;
    color: cornflowerblue;
    font-family: "SF UI Text";
    font-size: 25px;
    text-align: center;
    opacity: 0;
}
footer{
    width: 100%;
    height: 100;
    margin-top: 45px;
    background-color: black;
    border-top: 1px solid gray;
}
#about{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 10px;
    width: 400;
    left: 10%;
    margin-top: 15;
    text-align: left;
}

#contact{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 13px;
    left: 62%;
    margin-top: 45;
    text-align: left;
}
#privacyp{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 13px;
    left: 50%;
    margin-top: 45;
    text-align: left;
}

#aptoide{
    position: absolute;
    height: 50px;
    left: 90%;
    margin-top: 27;
}