body{
    margin: 0px;
}

.upbar{
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.85);
}

#applogo{
    position: absolute;
    height: 75px;
    left: 18%;
    top: -11px;
}
#uplogo{
    position: absolute;
    height: 19px;
    margin-top: 13px;
    left: 13%;
}

.menu{
    margin-left: 150px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    display:inline;
}

@keyframes in{
    from {color: white}
    to {color: darkgrey}
}


@keyframes out{
    from {color: darkgrey}
    to {color: white}
}

@keyframes ind{
    from {color: white}
    to {color: crimson}
}


@keyframes outd{
    from {color: crimson}
    to {color: white}
}

@keyframes inlogo{
    from {background-image: url(res/4logo.png)}
    to {background-image: url(res/4logo2.svg)}
}


@keyframes outlogo{
    from {background-image: url(res/4logo2.svg)}
    to {background-image: url(res/4logo.png)}
}

.menu li {
    color: ivory;
    margin-left: 8%;
    vertical-align: middle;
    display: inline-block;
    font-family: "SF UI Text";
    font-size: 13px;
    opacity: 0.95;
    line-height: 45px;
    text-align: center;
}
li a{
    animation-name: out;
    animation-duration: 250ms;
    color: white;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
}

li a:hover {
    animation-name: in;
    animation-duration: 250ms;
    color: darkgrey;
}

.navbar{
    position: sticky;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.80);
    padding-left: 5%;
    top: 0;
    margin: 0;
    padding: 0;
    padding-top: 4px;
}

.nav{
    margin-left: 50%;
}

.nav li {
    color: ivory;
    margin-left: 3%;
    vertical-align: middle;
    display: inline-block;
    font-family: "SF UI Text";
    font-size: 13px;
    opacity: 0.95;
    line-height: 45px;
    text-align: center;
}

#download{
    animation-name: outd;
    animation-duration: 250ms;
    font-size: 12px;
    font-family: "Avenir Next Cyr";
    color: white;
}
#download:hover{
    animation-name: ind;
    animation-duration: 250ms;
    color: crimson;
}

#policy{
    animation-name: outd;
    animation-duration: 250ms;
    font-size: 12px;
    font-family: "Avenir Next Cyr";
    color: white;
}
#policy:hover{
    animation-name: ind;
    animation-duration: 250ms;
    color: crimson;
}

#tutorial{
    animation-name: outd;
    animation-duration: 250ms;
    font-size: 12px;
    font-family: "Avenir Next Cyr";
    color: white;
}
#tutorial:hover{
    animation-name: ind;
    animation-duration: 250ms;
    color: crimson;
}

#desc{
    animation-name: outd;
    animation-duration: 250ms;
    font-size: 12px;
    font-family: "Avenir Next Cyr";
    color: white;
}
#desc:hover{
    animation-name: ind;
    animation-duration: 250ms;
    color: crimson;
}

.zlocation{
    position: relative;
    background-color: black;
    width: 100%;
    height: 2800px;
    margin-top: -50px;
}
#zlscr1{
    position: absolute;
    width: 19%;
    top: 80px;
    left: 40%;
    opacity: 0;
}

#scrpolicy{
    position: absolute;
    width: 16%;
    height: 150px;
    left: 24%;
    top: 400px;
}

#zlscr2{
    position: absolute;
    width: 19%;
    top: 80px;
    left: 40%;
    opacity: 0;
}
#zlscr3{
    position: absolute;
    width: 19%;
    top: 80px;
    left: 40%;
    opacity: 0;
}

#title{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 35px;
    color: #e4d1d3;
    width: 100%;
    text-align: center;
    top: 710px;
}
#deviz{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 70px;
    color: #e4d1d3;
    width: 100%;
    text-align: center;
    top: 740px;
}
#description{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: #e4d1d3;
    width: 70%;
    text-align: center;
    top: 880px;
    padding-left: 15%;
}
#dlfile{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: #e4d1d3;
    width: 70%;
    text-align: center;
    top: 1200px;
    padding-left: 6%;
}
#apfile{
    position: absolute;
    font-family: Trebuchet MS;
    font-size: 30px;
    color: #e4d1d3;
    width: 75%;
    text-align: center;
    top: 1200px;
    padding-left: 20%;
}

#ttutorial{
    position: absolute;
    color: #e4d1d3;
    font-family: Trebuchet MS;
    font-size: 40px;
    text-align: center;
    top: 1310px;
    width: 100%;
}

#video{
    position: absolute;
    top: 1400px;
    left: 10%;
}

#protitle{
    position: absolute;
    top: 2180px;
    left: 15%;
    font-family: Trebuchet MS;
    font-size: 37;
    color: #e4d1d3;
    width: 380px;
}
#price{
    position: absolute;
    top: 2230px;
    left: 15%;
    font-family: Trebuchet MS;
    font-size: 70;
    color: #e4d1d3;
    width: 320px;
    text-align: center;
}
#square{
    position: absolute;
    top: 2130px;
    left: 13%;
    background-color: transparent;
    border: 2px solid #e4d1d3;
    border-radius: 10px;
    width: 380;
    height: 250;
}
#liqpay{
    position: absolute;
    top: 2130px;
    left: 15%;
    width: 170;
}
#cards{
    position: absolute;
    top: 2057px;
    left: 55%;
    width: 500;
}

#inapp{
    position: absolute;
    top: 1990px;
    font-family: Trebuchet MS;
    font-size: 50;
    text-align: center;
    color: #e4d1d3;
    width: 100%;
}
#inappdesc{
    position: absolute;
    top: 2460px;
    font-family: Trebuchet MS;
    font-size: 22;
    color: #e4d1d3;
    width: 80%;
    text-align: center;
    padding-left: 10%;
}
#line{
    position: absolute;
    top: 2440px;
    background-color: #e4d1d3;
    width: 80%;
    left: 10%;
    height: 1px;
}

footer{
    width: 100%;
    height: 100;
    background-color: black;
    border-top: 1px solid grey;
}
#about{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 10px;
    width: 400;
    left: 10%;
    margin-top: 15;
    text-align: left;
}

#contact{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 13px;
    left: 62%;
    margin-top: 45;
    text-align: left;
}
#privacy{
    position: absolute;
    color: grey;
    font-family: "SF UI Text";
    font-size: 13px;
    left: 50%;
    margin-top: 45;
    text-align: left;
}

#aptoide{
    position: absolute;
    height: 50px;
    left: 90%;
    margin-top: 27;
}